* { margin:0; padding: 0; font-family: Roboto, Helvetica, Arial, sans-serif; box-sizing: border-box;-webkit-touch-callout: none;-webkit-user-select: none;user-select: none; touch-action: manipulation; }
html, body { width: 100%; height: 100%; overflow: hidden; }
button, .grid > li { cursor: pointer; }
button:focus { outline: 0; }

body { position: relative; }

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    transition: left .2s;
}

.page.invisible {
    left: 100%;
}

/* https://www.material.io/components/app-bars-top/#specs */
.page > .header {
    display: flex;
    height: 56px;
    padding: 0 16px;
    align-items: center;
    background-color: #88bbff;
}

.page > .header > button {
    width: 48px;
    height: 48px;
    background: transparent center no-repeat;
    border: none;
}

.page > .header > .back {
    margin-right: 32px;
    background-image: url(../images/icons/left.png);
}

.page > .header > .title {
    flex: 1;
    font-size: 20px;
    color: black;
}

.page > .content {
    flex: 1;
    overflow: auto;
    background-color: #88bbff33;
}

.progressbar {
  height: 4px;
  position: relative;
  background-color: #88bbff33;
}

.progressbar.invisible {
    display: none;
}

.progressbar::after {
    content: "";
    position: absolute;
    width: 112px;
    height: 4px;
    left: 0;
    top: 0;
    animation: progressbar 2s linear infinite;
    background-color: #88bbffff;
}

.grid {
    padding: 8px;
    text-align: center;
}

.grid > li {
    margin: 8px;
    display: inline-block;
    list-style-type: none;
    border-radius: 4px;
    box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    background-color: white;
    padding: 3px;
}

@keyframes progressbar {
    0% { left: -112px; width: 112px; }
    50% { width: 224px; }
    100% { left: 100%; width: 112px; }
}

/***** Listenseite *****/

#listpage .header {
  background-image: url(../images/icons/lego_logo.png);
  background-repeat: no-repeat;
  background-position: center;
}

#listpage .grid > li { position: relative; }
#listpage .grid > li > span.new {display: none;position: absolute;top: 0;right: 0;color: #fff;background-color: #0be;padding: 4px;border-radius: 0 4px;text-transform: uppercase;font-weight: bold;font-size: 18px;}
#listpage .grid > li > span.complete {display: none;position: absolute;top: 0;left: 0;color: #fff;background-color: #0c0;padding: 4px 12px;border-radius: 4px 0;text-transform: uppercase;font-weight: bold;font-size: 18px;}
#listpage .grid > li > h1 { font-size: 16px; }
#listpage .grid > li > div { font-size: 11px;color:#888888; }
#listpage .grid > li > img { max-width: 130px; max-height: 130px; }
#listpage .grid > li > img.complete~span.complete {display: block; }
#listpage .grid > li.new > img { filter:grayscale(100%); }
#listpage .grid > li.new > span.new {display: block; }

/***** Spieleseite *****/

#playpage .content { display: flex; position: relative; flex-direction: column; background-color: white; }
#playpage .canvas { flex: 1; }

#playpage .toolbar { display: flex; height:56px; }
#playpage .toolbar .spacer { flex: 1; }
#playpage .toolbar .icon { font-size: 40px; cursor: pointer; background: none; border: none; width:48px; height: 48px; margin: 4px; background-repeat: no-repeat; background-position: center; }
#playpage .toolbar .icon.lines { background-image:url(../images/icons/toggle_lines.png);}
#playpage .toolbar .icon.ar { background-image:url(../images/icons/xr.png);display:none;}
#playpage .toolbar .icon.stepup { background-image:url(../images/icons/more.png);}
#playpage .toolbar .icon.stepdown { background-image:url(../images/icons/less.png);}

#playpage .partbar { display: flex; user-select: none; overflow-x: auto; background-color: #cde2ff; min-height: 64px; }
#playpage .partbar img {
  display: block;
  cursor: pointer;
  height: 64px;
  margin: 2px 0 2px 2px;
}

#playpage .content > .stepcounter {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #00000088;
    color: white;
    font-size: 18px;
    padding: 2px 6px 2px 6px;
    border-radius: 13px;
    display: flex;
}

/* Siehe https://www.w3.org/TR/webxr-dom-overlays-1/ */
.aroverlay { display:none; position: absolute; top:0; left:0; right:0; bottom:0; z-index: 100; }
.aroverlay .icon { background: none; border: none; width:48px; height: 48px; margin: 4px; background-repeat: no-repeat; background-position: center; position: absolute; }
.aroverlay .icon.back { left: 4px; top: 4px; background-image: url(../images/icons/left.png); }
.aroverlay .icon.lines { right: 4px; bottom: 196px; background-image:url(../images/icons/toggle_lines.png);}
.aroverlay .icon.ar { background-image:url(../images/icons/xr.png);display:none;}
.aroverlay .icon.stepup { right: 4px; bottom: 148px; background-image:url(../images/icons/more.png);}
.aroverlay .icon.stepdown { right: 52px; bottom: 148px; background-image:url(../images/icons/less.png);}
.aroverlay .icon.up { right: 52px; bottom: 52px; background-image: url(../images/icons/up.png); }
.aroverlay .icon.down { right: 52px; bottom: 4px; background-image: url(../images/icons/down.png); }
.aroverlay .icon.left { left: 8px; bottom: 28px; background-image: url(../images/icons/left.png); }
.aroverlay .icon.right { left: 100px; bottom: 28px; background-image: url(../images/icons/right.png); }
.aroverlay .icon.forward { left: 52px; bottom: 52px; background-image: url(../images/icons/forward.png); }
.aroverlay .icon.backward { left: 52px; bottom: 4px; background-image: url(../images/icons/backward.png); }
.aroverlay .icon.smaller { right: 100px; bottom: 28px;background-image: url(../images/icons/smaller.png); }
.aroverlay .icon.bigger { right: 8px; bottom: 28px; background-image: url(../images/icons/bigger.png); }
